#main {
	padding: 0;
	margin: 0;
}

#main .container-fluid {
	padding: 0 7px 0 10px;
}

#header {
	margin: 0 0 10px;
	position: static;
}

#header li {
	font-size: 14px;
	_font-size: 12px;
}

#header .brand {
	font-family: Helvetica, Georgia, Arial, sans-serif, ºÚÌå;
	font-size: 26px;
	padding-left: 33px;
}

#footer {
	margin: 8px 0 0 0;
	padding: 3px 0 0 0;
	font-size: 14px;
	text-align: center;
}

#footer, #footer a {
	color: #999;
}